 <%= @user.email %>

<% if current_user.id == @user.id %>
<% else %>

  <% if current_user.subscription.exists?(friend_id: @user.id) %>
    <%= link_to "Отписаться", unsubscribe_profile_path(@user) %><br>
  <% else %>
    <%= link_to "Подписаться", subscribe_profile_path(@user) %><br>
  <% end %>

<% end %>

<br>
<% @user.photos.each do |photo| %>

    <div class="card photo-form logo-proz ">
      <div class="card-header ">

        <%= image_tag photo.image.url, size: '250x250' %><br>
        <strong><%= photo.description %></strong><br>

          <%= link_to 'Показать', photo %>

        <% if photo.user == current_user %>
        |  <%= link_to 'Изменить', edit_photo_path(photo) %> |
          <%= link_to 'Удалить', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </div>
    <% end %>
