<% @photos.each do |photo| %>

    <div class="card photo-form logo-proz ">
      <div class="card-header ">
        <%= link_to photo, class: 'photo-link' do %>
        <%= image_tag photo.image.url, size: '250x250' %> <% end %><br>
        <strong><%= photo.description %></strong><br>
        <%= link_to profile_path(photo.user_id) do %>
        <i class="icon ion-person"></i> <%= photo.user.name %> <% end %>
        <br>
        <% if photo.user == current_user %>
          <%= link_to edit_photo_path(photo) do %>
          <i class="ion-edit"></i> Изменить <% end %> |
          <%= link_to photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="ion-trash-b"></i> Удалить <% end %>
        <% end %>
        </div>
      </div>
    <% end %>

    <strong><%= will_paginate @photos, class:"devise-form", :page_links => false %></strong>
