<div class="card photo-form logo-proz">
  <div class="card-header">


  <%= image_tag @photo.image.url, size: '500x500' %><br>

  <strong>  <%= @photo.description %></strong><br>


  <%= link_to profile_path(@photo.user_id) do %>
  <i class="icon ion-person"></i> <%= @photo.user.name %> <% end %><br>


<%= link_to edit_photo_path(@photo) do %>
<i class="ion-edit"></i> Изменить <% end %> |
<%= link_to @photo, method: :delete, data: { confirm: 'Are you sure?' } do %>
  <i class="ion-trash-b"></i> Удалить <% end %>


</div>
</div>
