<% if user_signed_in? %>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
  <span class="nav-link active " ><%= link_to "Мой сайт", root_path, class:'nav-index text-logo landing-logo' %></span>


      <span class="nav-link active ml-auto" >  <%= link_to "О нас", pages_about_path, class:'nav-index' %></span>
      <span class="nav-link active "><%= link_to "Фотографии", photos_path, class:'nav-index' %></span  >
      <span class="nav-link active" >  <%= link_to current_user.email, edit_user_registration_path, class:'nav-index' %></span>
      <span class="nav-link active" ><%= link_to "Выйти", destroy_user_session_path, method: :delete, class:'nav-index' %></span>

  </nav>
</nav>

  <% else %>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <span class="nav-link active " ><%= link_to "Мой сайт", root_path, class:'nav-index text-logo landing-logo' %></span>
    <span class="nav-link active ml-auto"><%= link_to "Фотографии", photos_path, class:'nav-index' %></span  >
    <span class="nav-link active" >  <%= link_to "О нас", pages_about_path, class:'nav-index' %></span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
        </ul>
    </div>
</nav>


    <% end %>
